<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Editar movimiento</h1>
<p>Por favor complete los siguientes campos para modificar un movimiento</p>
<%@vista="edit"%>
<%=render 'form'%>
</body>
</html>
