<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Agregar un nuevo movimiento</h1>
<p>Por favor complete los siguientes campos para dar de alta un nuevo movimiento</p>
<%@vista="new"%>
<%=render 'form'%>
</body>
</html>
