<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Editar firmante</h1>
<p>Por favor complete los siguientes campos para modificar el firmante</p>
<%@vista="edit"%>
<%=render 'form'%>

</body>
</html>
