<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Panel de administración</h1>
<div class="row">	
<div class="col-md-12"><h3>Convenios</h3></div>
<div class="col-md-12"><%=link_to "Ver convenios",agreements_path%></div>
<div class="col-md-12"><%=link_to "Ver denominación",typeagreements_path%></div>
</div>
<div class="row">	
<h3></h3>
</div>
<div class="row">	
<h3></h3>
</div>
<div class="row">	
<h3></h3>
</div>
</body>
</html>