<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Editar convenio</h1>
<p>Por favor complete los siguientes campos para modificar el convenio, los campos con "*" son obligatorios</p>
<%=render 'form'%>

</body>
</html>