<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center><h1>Comisión de Investigaciones Científicas</h1></center>
<br><br>
<center>
<div class="list-group">
  <a class="list-group-item" href="/agreements"><i class="fa fa-arrow-circle-right"></i>&nbsp; Sistema interno de Convenios</a>
  
</div>
</center>
</body>
</html>