<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center><h1>Sistema de convenios - Comisión de Investigaciones Científicas</h1></center>
<br><br>
<center>
 <div id="menu1">
 	<ul>
 		<li><a href="/agreements/new">Dar de alta un convenio</a></li>
		<li><a href="/agreements">Consulta sobre Convenio</a></li>
 	</ul>
 </div>
</center>
</body>
</html>