<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center><h1>Comisión de Investigaciones Científicas</h1></center>
<br><br>
<center>
 <div id="menu1">
 	<h2>Menú de sistemas</h2>
 	<ul>
 		<li><a href="/agreements">Convenios</a></li><br>
		<li><a href="/otros/view1">Expedientes</a></li><br>
 	</ul>
 </div>
</center>
</body>
</html>