<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Agregar un nuevo convenio</h1>
<p>Por favor complete los siguientes campos para dar de alta un nuevo convenio, los campos con "*" son obligatorios</p>
<%=render 'form'%>
</body>
</html>
